<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body>

    <div class="contenedor">
        
        <header>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Informacion</a></li>
                    <li><a href="#">Galeria</a></li>
                </ul>
            </nav>
        </header>
        <main>

            <div class="imagen">
                    <img src="imagenes/39.jpg" alt="descripcion imagen">
            </div>


            <article>
                <h2>Titulo</h2>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo beatae mollitia adipisci odio optio deleniti, nesciunt accusantium suscipit vero? Repellendus possimus fugit qui ad dolores voluptas voluptatem, beatae cum est. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis officiis amet, quis nostrum aperiam dicta ipsam veritatis assumenda ipsum omnis quaerat sequi, consequuntur eos sed repellendus iste nesciunt, error laudantium. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima porro perferendis, iste quas ratione quibusdam recusandae tempore debitis consequuntur id sapiente, tenetur qui culpa atque labore amet odio accusamus error?</p>
            </article>

        </main>

        <aside>
            <div class="est_aside">

                <h3>Enlaces Externos</h3>
                <ul>                    
                    <li><a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a></li>
                    <li><a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a></li>
                    <li><a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a></li>
                    <li><a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a></li>
                </ul>    
            </div>
            
            <div class="est_aside">
                <h3>Informacion</h3>

                <p>Lorem ipsum dolor Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum reprehenderit excepturi eum distinctio dolorem suscipit corrupti facere quas, tenetur numquam adipisci obcaecati neque, voluptatum illum commodi rem repudiandae, aeius. sit amet consectetur, adipisicing elit. Magnam nesciunt aspernatur voluptate, quis accusantium officia quisquam tempore qui modi neque maxime dolore dignissimos, in sed esse odio assumenda laborum. Quo.</p>
            </div>

        </aside>
        <footer>
            <p>Derechos Reservados</p>
        </footer>

    </div>
</body>
</html>