<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Informacion</a></li>
                <li><a href="#">Galeria</a></li>
            </ul>
        </nav>
    </header>
    <main>

        <article>

            <div>
                <img src="#" alt="descripcion imagen">
            </div>

            <h2>Titulo</h2>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo beatae mollitia adipisci odio optio deleniti, nesciunt accusantium suscipit vero? Repellendus possimus fugit qui ad dolores voluptas voluptatem, beatae cum est. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis officiis amet, quis nostrum aperiam dicta ipsam veritatis assumenda ipsum omnis quaerat sequi, consequuntur eos sed repellendus iste nesciunt, error laudantium. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima porro perferendis, iste quas ratione quibusdam recusandae tempore debitis consequuntur id sapiente, tenetur qui culpa atque labore amet odio accusamus error?</p>
        </article>

    </main>
    <aside>

    </aside>

</body>
</html>