body
{
    font-family: sans-serif, Arial, Helvetica;
}

h1
{
    font-family: "Times New Roman";

    font-size: 50px;
    font-style: italic;
    font-weight: normal;
    color: #c5107a;
    text-align: center;
    text-decoration: underline;    
    text-transform: uppercase;
    letter-spacing: 1cm;
}
p
{
    text-align: right;
    text-transform: uppercase;
    line-height: 1cm;
}