*
{
    padding: 0;
    margin: 0;
}
body
{
    background: #ccc;
}
div 
{
    width:500px;
    height: 150px;
    background: #074d0d;
    margin: 20px;
    /*float: left;*/
    border: 2px solid black;
}

.posicionamiento
{
    background: #ca2184;
    position:absolute;
    top: 100px;
    /*right:;*/
    left: 40%;
    /*bottom: ;*/
}
.posi
{
    background: #070607;
    position:relative;
    top: 100px;
    /*right:10px;*/
    left: 500px;
    /*bottom:50px ;*/
}

/*tipos de posicionamiento::after
  
    - Normal (static): posicionamiento por defecto con el que 
    - Relativo (relative): nos permite posicionar una caja y
    - Absoluto (absolute): nos permite posicionar una caja resp
    - Fijo (fixed): nos permite posicionar una caja en donde su
    - flotante (float): nos permite desplazar las cajas todo lo 