.texto
{
    /*el primer valor es la posicion horizontal
      el segundo valor es la posicion vertical
      el tercer valor es el tamaño de la sonbra
      
      podemos asignarle un valor para el color de las sombra
      */
      /*para poner sobras a las letras*/
      /*text-shadow:0px 5px 10px #74e2af;*/
        
      /*para un efecto sobreados*/
      color:#fff;
      text-shadow: 2px 0px 10px blue;
}

.caja
{
    width: 200px;
    height: 200px;
    background: #f79256;
    border-radius: 100%;
    /*box-shadow: inset 10px 5px 5px rgba(0,0,0,.4);*/
    box-shadow:10px 5px 5px rgba(0,0,0,.4);
}